/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
div {
  display: inline-block;
}

.icon1 {
  background-image: url(/image/sprite/sample.png);
  background-position: 0px 0px;
  width: 400px;
  height: 400px;
}

.icon2 {
  background-image: url(/image/sprite/sample.png);
  background-position: -400px 0px;
  width: 400px;
  height: 400px;
}

.icon3 {
  background-image: url(/image/sprite/sample.png);
  background-position: 0px -400px;
  width: 400px;
  height: 400px;
}

.icon2-1 {
  background-image: url(/image/sprite/sample2.png);
  background-position: 0px 0px;
  width: 400px;
  height: 400px;
}

.icon2-2 {
  background-image: url(/image/sprite/sample2.png);
  background-position: -400px 0px;
  width: 400px;
  height: 400px;
}

.icon2-3 {
  background-image: url(/image/sprite/sample2.png);
  background-position: 0px -400px;
  width: 400px;
  height: 400px;
}
